<h1>contact</h1>
<%# <% members = ["thanh", "dimitri", "germain", "damien", "julien"] %> %>

<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<%= link_to "Go Back Home", root_path %>
